<div *ngIf="serviceDetailsData$ | async as serviceDetailsData">
  @for (content of serviceDetailsData.data; track content) {
    <div>
      <!-- Page Title Area -->
      <div class="page-title-area">
        <div class="container">
          <div class="page-title-content">
            <ul>
              <li>
                <a routerLink="/"> Inicio </a>
              </li>
              <li>Productos</li>
              <li>
                {{ content.attributes.title }}
              </li>
            </ul>
            <h1>{{ content.attributes.title }}</h1>
          </div>
        </div>
        <div class="shape5 animate__animated animate__fadeInDown">
          <img src="assets/img/shape/shape5.png" alt="shape" />
        </div>
        <div class="shape6 animate__animated animate__fadeInUp">
          <img src="assets/img/shape/shape6.png" alt="shape" />
        </div>
      </div>

      <!-- Services Details Area -->
      <div class="services-details-area ptb-100">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-12">
              <div class="services-details-desc">
                <div class="image">
                  <img [src]="content.attributes.image.data.attributes.url" alt="services-image" />
                </div>
                <div class="desc">
                  <markdown [data]="content.attributes.description"> </markdown>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="services-sidebar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
