<!-- Page Title Area -->
<div class="page-title-area">
  <div class="container">
    <div class="page-title-content">
      <ul>
        <li>
          <a routerLink="/"> Inicio </a>
        </li>
        <li>Nosotros</li>
      </ul>
      <h1>Nuestra empresa</h1>
    </div>
  </div>
  <div class="shape5 animate__animated animate__fadeInDown">
    <img src="assets/img/shape/shape5.png" alt="shape" />
  </div>
  <div class="shape6 animate__animated animate__fadeInUp">
    <img src="assets/img/shape/shape6.png" alt="shape" />
  </div>
</div>

<!-- <app-about></app-about> -->
<app-values></app-values>
<app-goals></app-goals>
<div class="bg-d9eff9">
  <app-why-choose-us></app-why-choose-us>
</div>

<app-emergency-support></app-emergency-support>

<app-testimonials></app-testimonials>

<!-- <app-doctors></app-doctors> -->
