@if (bannerData.data | callSignal; as bannerData) {
  <div class="banner-main-area">
    <div class="banner-slides">
      <swiper-container
        pagination="true"
        pagination-clickable="true"
        centered-slides="true"
        autoplay-delay="8000"
        autoplay-disable-on-interaction="false"
        speed="2000"
        effect="fade"
        loop="true"
        fadeEffect-crossFade="true"
      >
        @for (content of bannerData['slides']; track content; let index = $index) {
          <swiper-slide>
            <div class="banner-area">
              <div
                [ngClass]="{ 'bg-image-zoom-in': index % 2 === 0, 'bg-image-zoom-out': index % 2 !== 0 }"
                class="bg-image"
                [ngStyle]="{
                  'background-image': 'url(' + content.bgImage.data.attributes.url + ')',
                  'background-size': 'cover'
                }"
              ></div>
              <div class="container-fluid">
                <div class="banner-content">
                  <span class="sub-title">{{ content.subTitle }}</span>
                  <h1>{{ content.title }}</h1>
                  <p>{{ content.paragraph }}</p>
                </div>
              </div>
            </div>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
}
