<div class="blog-area pt-100 pb-75">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Próximamente</span>
      <h2>Estos son algunos productos que próximamente tendremos en nuestro catálogo</h2>
    </div>
    @if (blogData$ | async; as blogData) {
      <div class="row justify-content-center">
        @for (content of blogData; track content) {
          <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="single-blog-post">
              @if (content.attributes.image.data) {
                <a [routerLink]="['/proximamente', content.attributes.slug]" class="image d-block">
                  <img [src]="content.attributes.image.data.attributes?.url" alt="blog-image" />
                </a>
              }
              <div class="content">
                <ul class="meta">
                  <li>
                    <img src="assets/img/tag.svg" alt="tag" />
                    {{ content.attributes.tag }}
                  </li>
                </ul>
                <h3>
                  <a [routerLink]="['/proximamente', content.attributes.slug]">
                    {{ content.attributes.title }}
                  </a>
                </h3>
              </div>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>
